@import "tailwindcss";
@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
.mainheader {
  font-family: "Moon Dance", cursive;
  font-weight: 400;
  font-style: normal;
}

.mainheader2 {
  font-family: "Edu AU VIC WA NT Arrows", Italic;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}