@import "tailwindcss";
@import "tw-animate-css";

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');

::selection{
  background-color: #383838;
  color: white;
}




.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}


.mainheader2 {
  font-family: "Edu AU VIC WA NT Arrows", Italic;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}